* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    font-family: serif;
}

header {
     background-color: #000435;
     position: sticky;
     top: 0;
     left: 0;
     z-index: 100;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#lock {
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    margin-right: 0.5rem;
}

#sec {
    color: #90d5ff;
    display: inline-block;
}

.main-nav {
     display: flex;  /* Flexbox activated */
     justify-content: space-between; /* logo left nav right */
     align-items: center; /* vertically centered */
     padding: 1rem 2rem;
     max-width: 1200px;
     margin: 0 auto;
     font-weight: bold;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    text-decoration: none; 
}

.nav-links {
     list-style: none;
     display: flex;
     gap: 2rem;
}

.nav-links a {
     color: white;
     text-decoration: none;
     font-size: 1rem;
     transition: color 0.5s;
     opacity: 80%;
}

.nav-links a:hover {
     color: #90d5ff;
}

#hero {
     background-image: url(../images/cia1.png);
     background-size: cover;
     background-position: center;
     height: 90vh;
     font-weight: bold;
     overflow: hidden;
     position: relative;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.65)
}

.hero-content {
     position: relative;
     text-align: left;
     color: white;
     z-index: 1;
     padding: 15rem;
}

.hero-content h1 {
     font-size: 3.5rem;
     margin-bottom: 0.5rem;
     text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.hero-content p {
     font-size: 1.4rem;
     color: lightblue;
     margin-bottom: 1.5rem;
}

.btn {
     display: inline-block;
     padding: 0.8rem 2rem;
     border-radius: 4px;
     text-decoration: none;
     font-weight: bold;
     font-size: 1.1rem;
}

#btn1 {
    background-color: lightblue;
    display: inline-block;
    margin-right: 1rem;
    border: 1px solid lightblue;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.1s;
}

#btn1:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

#btn2 {
    border: 1px solid white;
    color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.1s;
}

#btn2:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

#black {
    display: inline-block;
    color: black;
}

#white {
    display: inline-block;
    color: white;
}

#sub {
    color: lightblue;
    background-color: rgba(173,216,230,0.3);
    border: 1px solid lightblue;
    border-radius: 50px;
    padding: 2px 15px;
    display: inline-block;

}

main {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 2rem;
     font-family: var(--font-regular);
}

main p{
     margin-bottom: 1rem;
}

main #cia p {
     max-width: 800px;
}

section {
     padding: 4rem 0;
     border-bottom: 2px solid navy;
}

section:last-child {
    border-bottom: none;
}

.cia-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     margin-top: 1.5rem;
}

.cia-card {
     flex: 1 1 220px;
     background: white;
     border-radius: 6px;
     padding: 1.5rem;
     box-shadow: 0 2px 8px rgba(0,0,0,0.3);
     max-width: 16rem;
}

#cia-cardb {
     border-top: 5px solid deepskyblue;
}

#cia-cardg {
     border-top: 5px solid lightgreen;
}

#cia-cardr {
     border-top: 5px solid red;
}

.cia-card h3 {
     margin-bottom: 0.75rem;
}

.cia-card #subh {
     margin-bottom: 0.4rem;
     font-size: 0.95rem;
     font-weight: bold;
     font-style: italic;
     opacity: 80%;
     color: deepskyblue;
}

#con {
    background-color: rgba(193, 241, 255, 0.75);
    border-radius: 50%;
    display: inline;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    margin-right: 0.5rem; 
    padding: 0.6rem;
}

.back-highlight {
     background-color: rgba(255, 127, 127, 0.30);
     border-left: 5px solid red;
     border-top-right-radius: 6px;
     padding: 20px 5px;
     color: darkred;
}

#check {
     background-color: rgba(0, 255, 0, 0.25);
     border-radius: 50%;
     display: inline;
     width: 2.2rem;
     height: 2.2rem;
     text-align: center;
     margin-right: 0.5rem;
     padding: 0.6rem;
}

#sonar {
     background-color: rgba(255, 0, 0, 0.25);
     border-radius: 50%;
     display: inline;
     width: 2.2rem;
     height: 2.2rem;
     text-align: center;
     margin-right: 0.5rem;
     padding: 0.6rem;
}

.cia-card #subg {
     margin-bottom: 0.4rem;
     font-size: 0.95rem;
     font-weight: bold;
     font-style: italic;
     opacity: 80%;
     color: #03c04a;
}

.cia-card #subr {
     margin-bottom: 0.4rem;
     font-size: 0.95rem;
     font-weight: bold;
     font-style: italic;
     opacity: 80%;
     color: #FA003F;
}

#sf {
     border: 1px solid lightblue;
     display: inline-block;
     margin-top: 2rem;
     background-color: rgba(191, 255, 255, 0.3);
     border-radius: 5px;
}

.data-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     margin-top: 1.5rem;
     text-align: center;
}

.data-card {
     flex: 1 1 260px;
     border: 1px solid skyblue;
     border-radius: 6px;
     overflow: hidden;
     box-shadow: 0 2px 8px rgba(0,0,0,0.3)
}

.data-card-header {
     padding: 1rem 1.2rem;
     color: navy;
}

.data-card-body {
    padding: 1rem 1.2rem;
}

.data-card-body p {
     margin-bottom: 1rem;
     font-size: 0.95rem;
}

#ex {
     font-style: italic;
     color: rgba(90, 134, 173, 0.75);
}

.auth-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     margin-top: 1.5rem;
}

.auth-card {
     flex: 1 1 260px;
     border: 1px solid skyblue;
     border-radius: 6px;
     overflow: hidden;
     box-shadow: 0 2px 8px rgba(0,0,0,0.3);
     background-color: navy;
}

.auth-card-header h1 {
     padding: 1rem 1.2rem;
     color: deepskyblue;
}

.auth-card-header h3 {
     padding-left: 1.2rem;
     color: white;
}


.auth-card-body {
    padding: 1rem 1.2rem;
}

.auth-card-body p {
     margin-bottom: 1rem;
     font-size: 0.95rem;
     color: #c7e4ee;
}

.pass-grid {
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     margin-top: 1.5rem;
}

.pass-card {
     flex: 1 1 220px;
     border-radius: 6px;
     padding: 1.5rem;
     box-shadow: 0 2px 8px rgba(0,0,0,0.3)
}

.pass-card h3 {
     margin-bottom: 0.75rem;
}

.pass-card ul {
     padding-left: 1.2rem;
}

.pass-card li {
     margin-bottom: 0.4rem;
     font-size: 0.95rem;
}

#pass-meth {
     margin-top: 2px;
     margin-bottom: 2px;
     color: grey;
}

.pass-table {
     width: 100%;
     border-collapse: collapse;
}

.pass-table th {
     background-color: navy;
     color: skyblue;
     font-weight: 600;
}

.pass-table th,
.pass-table td {
     padding: 0.6rem 1rem;
     text-align: center;
}

.pass-table th {
     border: 3px solid navy;
}

.pass-table td {
     border: 3px solid #ddd;
}

#containment h3 {
     background-color: black;
     color: white;
     padding: 15px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     display: inline-block;
}
